NODE="development"
PORT=5000
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public
REDIS_URL=redis://localhost:6379
QDRANT_URL=https://your-qdrant-instance-url
QDRANT_API_KEY=your-qdrant-api-key
ANTHROPIC_API_KEY=your-anthropic-api-key

JWT_ACCESS_SECRET=yourAccessTokenSecret
JWT_ACCESS_EXPIRES_IN=1day

JWT_REFRESH_SECRET=yourRefreshTokenSecret
JWT_REFRESH_EXPIRES_IN=7day

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

EMAIL_SENDER_SMTP_USER=yourEmail@gmail.com
EMAIL_SENDER_SMTP_PASSWORD=yourEmailPassword
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=yourEmail@gmail.com

CLOUDINARY_CLOUD_NAME=yourCloudinaryCloudName
CLOUDINARY_API_KEY=yourCloudinaryApiKey 
CLOUDINARY_API_SECRET=yourCloudinaryApiSecret


GOOGLE_CLIENT_ID=yourGoogleClientId
GOOGLE_CLIENT_SECRET=yourGoogleClientSecret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback


ADMIN_EMAIL=email
ADMIN_PASSWORD=password